.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  max-width: 300px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--shadow);
  transition: var(--transition);
  color: inherit;
  &:hover {
    transform: scale(1.02);
  }
  &_image {
    width: 270px;
    height: 400px;
    object-fit: fill;
    border-radius: 8px;
  }

  &_category {
    width: fit-content;
    font-size: 14px;
    color: var(--tertiary);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: var(--tertiary);
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: hidden;
  }

  &_title {
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_authors {
    font-size: 14px;
    color: var(--tertiary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 340px) {
  .card {
    max-width: 280px;
  }
  .card_image {
    width: 240px;
    height: 370px;
  }
}
